/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/*.cache
/storage/logs/*
/storage/module_documents
storage/avatars
/storage/avatars/
storage/avatars/*
/storage/avatars/*
/storage/packages/
storage/packages/*
/storage/packages/*
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/modules
modules
modules/*
/modules*
resources/views/modules
resources/views/modules/*
/resources/views/modules
/resources/views/modules/*
composer.lock
/storage/temporal/
/manual/active_presenter_projects/
