.errorblock{
    background-color:red;
    color:white;
    padding:5px;
}
.errorField{
    border: red 1px solid;

}
.module_list_body{

    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

/**
    This line is for the draggable dialog of the Bootstrap-Dialog
    REFERENCE: https://nakupanda.github.io/bootstrap3-dialog/
 */
.modal-header.bootstrap-dialog-draggable {
                cursor: move;
}

.draggable-box .box-header{
    cursor: move;
}


/*
    This is the way we make draggable modals
*/
.dragableModal{
    background:none;
}

/*
    We are overwritting the .modal-header style but only for the main modal class
*/
.main_modal .modal-header{
    background-color: #337ab7;
    color:white;
}

/*
    This is to prevent the text areas to be resizable in some browsers.
    But since I don't want to resize every single one of them, only those with this class will do
    the trick
*/
textarea.noresize-textarea{
    resize:none;
}

.box-header-option-right{
    float: right;
}

/**
ADDED BY DANILO TO ADD THE IMAGE PREVIEW ADD ON
 */
.btn-file-image {
    position: relative;
    overflow: hidden;
}
.btn-file-image input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 80%;
    min-height: 80%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 80%;
}.error{
    color:red;
 }
